<%- include('header') %>

    <body>
        <div class="studentDashborad bg-light">
            <div class="container-fluid">
                <div class="row">
                    <%- include('side_bar_dashboard') -%>
                        <div class="col-md-10 table__dashboard p-0 ">
                            <%- include('search') -%>
                                <div class="col-md-12 table__main px-3">
                                    <h4 class="pt-3"><b>Add New job</b></h4>
                                    <center style="color:<%- color -%>" id="error_display">
                                        <%- error-%>
                                    </center>
                                    <form action="add-job" class="Formcss" method="post" enctype="multipart/form-data">
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Company Name:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control rounded-0" placeholder="Company Name" aria-label="course" aria-describedby="basic-addon1" name="company_name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Job Title:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control rounded-0" placeholder="Title" aria-label="course" aria-describedby="basic-addon1" name="title" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Qualified :</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
                                                <select aria-label="step" aria-describedby="basic-addon1" name="qualified" class="form-control rounded-0" required>
                                                    <option value="">Please Select </option>
                                                    <option value="Yes">Yes </option>
                                                    <option value="No">No </option>
                                                    </select>
                                                <!---- <input type="text" class="form-control rounded-0" placeholder="Name of Step" aria-label="step" aria-describedby="basic-addon1" name="step">-->
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Failed in :</label>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
                                                <select aria-label="Failed in" aria-describedby="basic-addon1" name="failed_in" class="form-control rounded-0">
                                                <option value="">Please Select </option>
                                                <option value="Resume">Resume  </option>
                                                <option value="Interview"> Interview</option>
                                                <option value="Technical-Test">Technical-Test</option>
                                                <option value="Group-Discussion ">Group-Discussion</option>
                                                <option value="Appointment-Letter ">Appointment-Letter</option>
                                              </select>
                                                <!--<input type="text" class="form-control rounded-0" placeholder="Name of Step" aria-label="step" aria-describedby="basic-addon1" name="step">-->
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Upload Resume:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <input type="file" class="form-control rounded-0" placeholder="Upload Resume" aria-label="course" aria-describedby="basic-addon1" name="resume_upload">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Feedback Which You Want:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                                                <textarea class="form-control rounded-0 design" placeholder="Feedback" aria-label="course" aria-describedby="basic-addon1" name="feedback" cols='60' rows='8'> </textarea>
                                            </div>
                                        </div>

                                        <div class="btn-group-login mt-3">
                                            <center><i class="fa fa-plus input-group-text rounded-0" aria-hidden="true"><input type="submit" class="btn btn-magenta px-5 rounded-0" value="Add Job"></i></center>
                                        </div>
                                        <div class="btn-group-login mt-5"></div>
                                    </form>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <script src="include-file/js/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".hamButton").click(function() {
                    $("#menu").toggle();
                    $("#nav-item").slideDown("5000");
                });
            });
        </script>
    </body>

    </html>