<%- include('header') %>

    <body>
        <div class="studentDashborad bg-light">
            <div class="container-fluid">
                <div class="row">
                    <%- include('admin_side_bar_dashboard') -%>

                        <div class="col-md-10 table__dashboard p-0 ">
                            <%- include('admin_search') -%>

                                <div class="col-md-12 table__main px-3">
                                    <center>
                                        <h4 class="pt-3"><b>Add Department</b></h4>
                                    </center>
                                    <center style="color:<%- color -%>" id="error_display">
                                        <%- error-%>
                                    </center>
                                    <form action="/add-department" class="Formcss" method="post" enctype="multipart/form-data">
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Enter Full Name Of Department :</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-cubes" aria-hidden="course"></i></span>
                                                <input type="text" class="form-control rounded-0" placeholder="Please Enter Full Name" aria-label="course" aria-describedby="basic-addon1" name="dept_full_name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="course" class="form-label">Short Name of Dept:</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text rounded-0" id="basic-addon1"><i class="fa fa-cubes" aria-hidden="course"></i></span>
                                                <input type="text" class="form-control rounded-0" placeholder="Short Name" aria-label="course" aria-describedby="basic-addon1" name="dept" required>
                                            </div>
                                        </div>

                                        <div class="btn-group-login mt-3">
                                            <center><i class="fa fa-plus input-group-text rounded-0" aria-hidden="true"><input type="submit" class="btn btn-magenta px-5 rounded-0" value="Add Department"></i></center>
                                        </div>
                                        <div class="btn-group-login mt-5"></div>
                                    </form>
                                </div>

                                <div class="col-md-12 table__main px-3">
                                    <table id="example" class="table table-striped mt-3 py-5" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Department Full Name</th>
                                                <th>Department Short Name</th>
                                                <th>Action</th>
                                            </tr>
                                            <% records_dc.forEach(record_sdc=> { %>
                                                <tr>
                                                    <td>
                                                        <%= record_sdc.dept_full_name %>

                                                    </td>
                                                    <td>
                                                        <%= record_sdc.dept %>

                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger rounded-0" href="/delete-dept/<%= record_sdc.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>


                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="btn-group-login mt-5"></div>
                                </div>

                        </div>
                </div>
            </div>
        </div>
        <script src="include-file/js/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".hamButton").click(function() {
                    $("#menu").toggle();
                    $("#nav-item").slideDown("5000");
                });
            });
        </script>
    </body>

    </html>