<%- include('header') %>

    <body>
        <div class="studentDashborad bg-light">
            <div class="container-fluid">
                <div class="row">
                    <%- include('admin_side_bar_dashboard') -%>
                        <div class="col-md-10 table__dashboard p-0 ">
                            <%- include('admin_search') -%>
                                <div class="col-md-12 table__main px-3" style="overflow-x: auto;">
                                    <h4 class="pt-3"><b> ALL USERS</b></h4>
                                    <table id="example" class="table table-striped mt-3 py-5" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Type</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% records.forEach(record=> { %>
                                                <tr>
                                                    <td>
                                                        <%= record.fname %>
                                                            <%= record.lname %>
                                                    </td>
                                                    <td>
                                                        <%= record.email %>
                                                    </td>
                                                    <td>
                                                        <%= record.type %>
                                                    </td>

                                                    <td>
                                                        <%= record.start_date %>
                                                    </td>
                                                    <td>
                                                        <input type="radio" id="<%= record.type %>-<%= record.id %>" name="<%= record.type %>-<%= record.id %>" value="<%= record.typebyadmin %>" class="adminacces <%= record.type %>-<%= record.id %>" <% if (record.typebyadmin=='N' ) {%>                                                        checked
                                                        <% } else {%>
                                                            <% }%>>
                                                                <label for="access1" class="access1"><% if (record.type=='Student' ||record.type=='Student'){ %>Block <% } else{%> Disallow  <% } %></label>
                                                                <input type="radio" id="<%= record.type %>-<%= record.id %>" name="<%= record.type %>-<%= record.id %>" value="<%= record.typebyadmin %>" class="adminacces <%= record.type %>-<%= record.id %>" <% if (record.typebyadmin=='N' ) {%>
                                                                <% } else {%>checked
                                                                    <% }%>>
                                                                        <label for="access1" class="access1"><% if (record.type=='Student' ||record.type=='Student'){ %>Unblock<% } else{%> Allow <% } %></label>

                                                                        <!----  <label class="toggler-wrapper style-24">
                                                            <input type="checkbox" id="<%= record.type %>-<%= record.id %>" class="adminacces" value="<%= record.typebyadmin %>">
                                                            <div class="toggler-slider">
                                                              <div class="toggler-knob"></div>
                                                            </div>-->
                                                    </td>
                                                </tr>

                                                <% }); %>








                                        </tbody>
                                    </table>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>