<%- include('header') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <body>
        <div class="studentDashborad bg-light">
            <div class="container-fluid">
                <div class="row">
                    <%- include('professor_side_bar_dashboard') -%>
                        <div class="col-md-10 table__dashboard p-0 ">
                            <%- include('Notification-professor') -%>
                                <%- include('professor-search') -%>
                                    <div class="col-md-12 table__main px-0" style="overflow-x: auto;">
                                        <h4 class="pt-0"><b></b></h4>

                                        <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
                                        <canvas id="myChart1" style="width:100%;max-width:800px"></canvas>

                                    </div>
                                    <div class="col-md-12 table__main px-0" style="overflow-x: auto;">
                                        <h4 class="pt-0"><b></b></h4>
                                        <p>

                                            <input type="hidden" id="date" value="<% records.forEach(record=> { %><%= record.count     %> -<%= record.month     %>, <% }); %>">


                                            <input type="hidden" id="Not" value="<% records1.forEach(record1=> { %><%= record1.count     %> -<%= record1.month     %>, <% }); %>">

                                        </p>
                                        <p>

                                            <input type="hidden" id="yes_count" value="<%=  display   %>"> </p>


                                    </div>
                        </div>
                </div>
            </div>

        </div>
        <script>
            $(document).ready(function() {
                date = $('#date').val().split(',');
                Not = $('#Not').val().split(',');


                //alert(date.length);

                // alert(dd1[1]);
                yes_count = $('#yes_count').val();
                //alert(date);
                //alert(date.length);

                if (yes_count == '3') {
                    show = date.length - 1 + ' Months';
                    dd = date[0].split('-');
                    dd1 = date[1].split('-');
                    dd2 = date[2].split('-');

                    ndd = Not[0].split('-');
                    ndd1 = Not[1].split('-');
                    ndd2 = Not[2].split('-');


                    var xValues1 = ['2022-0' + ndd[1] + '-01', '2022-0' + ndd1[1] + '-01', '2022-0' + ndd2[1] + '-01'];
                    var yValues1 = [ndd[0], ndd1[0], ndd2[0]];
                    // var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
                    // var yValues = [55, 49, 44, 24, 15];
                    var xValues = ['2022-0' + dd[1] + '-01', '2022-0' + dd1[1] + '-01', '2022-0' + dd2[1] + '-01'];
                    var yValues = [dd[0], dd1[0], dd2[0]];
                }

                if (yes_count == '6') {
                    show = date.length - 1 + ' Months';
                    dd = date[0].split('-');
                    dd1 = date[1].split('-');
                    dd2 = date[2].split('-');
                    dd3 = date[3].split('-');
                    dd4 = date[4].split('-');
                    dd5 = date[5].split('-');
                    dd6 = date[6].split('-');

                    ndd = Not[0].split('-');
                    ndd1 = Not[1].split('-');
                    ndd2 = Not[2].split('-');
                    ndd3 = Not[3].split('-');
                    ndd4 = Not[4].split('-');
                    ndd5 = Not[5].split('-');
                    ndd6 = Not[6].split('-');

                    var xValues = ['2022-0' + dd[1] + '-01', '2022-0' + dd1[1] + '-01', '2022-0' + dd2[1] + '-01', '2022-0' + dd3[1] + '-01', '2022-0' + dd4[1] + '-01', '2022-0' + dd5[1] + '-01'];
                    var yValues = [dd[0], dd1[0], dd2[0], dd3[0], dd4[0], dd5[0]];
                    //var yValues = [yes_count[0], yes_count[1], yes_count[2], yes_count[3], yes_count[4], yes_count[5], yes_count[6], yes_count[7], yes_count[8], yes_count[9], yes_count[10], yes_count[11]];

                    var xValues1 = ['2022-0' + ndd[1] + '-01', '2022-0' + ndd1[1] + '-01', '2022-0' + ndd2[1] + '-01', '2022-0' + ndd3[1] + '-01', '2022-0' + ndd4[1] + '-01', '2022-0' + ndd5[1] + '-01'];
                    var yValues1 = [ndd[0], ndd1[0], ndd2[0], ndd3[0], ndd4[0], ndd5[0]];
                }
                if (yes_count == '9') {
                    show = 9 + ' Months';
                    dd = date[0].split('-');
                    dd1 = date[1].split('-');
                    dd2 = date[2].split('-');
                    dd3 = date[3].split('-');
                    dd4 = date[4].split('-');
                    dd5 = date[5].split('-');
                    dd6 = date[6].split('-');


                    ndd = Not[0].split('-');
                    ndd1 = Not[1].split('-');
                    ndd2 = Not[2].split('-');
                    ndd3 = Not[3].split('-');
                    ndd4 = Not[4].split('-');
                    ndd5 = Not[5].split('-');
                    ndd6 = Not[6].split('-');


                    var xValues = ['2022-0' + dd[1] + '-01', '2022-0' + dd1[1] + '-01', '2022-0' + dd2[1] + '-01', '2022-0' + dd3[1] + '-01', '2022-0' + dd4[1] + '-01', '2022-0' + dd5[1] + '-01', '2022-0' + dd6[1] + '-01', '2021-01-01', '2021-02-01'];
                    var yValues = [dd[0], dd1[0], dd2[0], dd3[0], dd4[0], dd5[0], dd6[0], '5', '9'];
                    //var yValues = [yes_count[0], yes_count[1], yes_count[2], yes_count[3], yes_count[4], yes_count[5], yes_count[6], yes_count[7], yes_count[8], yes_count[9], yes_count[10], yes_count[11]];

                    var xValues1 = ['2022-0' + ndd[1] + '-01', '2022-0' + ndd1[1] + '-01', '2022-0' + ndd2[1] + '-01', '2022-0' + ndd3[1] + '-01', '2022-0' + ndd4[1] + '-01', '2022-0' + ndd5[1] + '-01', '2022-0' + ndd6[1] + '-01', '2021-01-01', '2021-02-01'];
                    var yValues1 = [ndd[0], ndd1[0], ndd2[0], ndd3[0], ndd4[0], ndd5[0], ndd6[0], '9', '7'];


                }
                if (yes_count == '12') {
                    show = '1 Year';
                    dd = date[0].split('-');
                    dd1 = date[1].split('-');
                    dd2 = date[2].split('-');
                    dd3 = date[3].split('-');
                    dd4 = date[4].split('-');
                    dd5 = date[5].split('-');
                    dd6 = date[6].split('-');


                    ndd = Not[0].split('-');
                    ndd1 = Not[1].split('-');
                    ndd2 = Not[2].split('-');
                    ndd3 = Not[3].split('-');
                    ndd4 = Not[4].split('-');
                    ndd5 = Not[5].split('-');
                    ndd6 = Not[6].split('-');


                    var xValues = ['2022-0' + dd[1] + '-01', '2022-0' + dd1[1] + '-01', '2022-0' + dd2[1] + '-01', '2022-0' + dd3[1] + '-01', '2022-0' + dd4[1] + '-01', '2022-0' + dd5[1] + '-01', '2022-0' + dd6[1] + '-01', '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-01'];
                    var yValues = [dd[0], dd1[0], dd2[0], dd3[0], dd4[0], dd5[0], dd6[0], '5', '9', '7', '13', '18'];
                    //var yValues = [yes_count[0], yes_count[1], yes_count[2], yes_count[3], yes_count[4], yes_count[5], yes_count[6], yes_count[7], yes_count[8], yes_count[9], yes_count[10], yes_count[11]];


                    var xValues1 = ['2022-0' + ndd[1] + '-01', '2022-0' + ndd1[1] + '-01', '2022-0' + ndd2[1] + '-01', '2022-0' + ndd3[1] + '-01', '2022-0' + ndd4[1] + '-01', '2022-0' + ndd5[1] + '-01', '2022-0' + ndd6[1] + '-01', '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-01'];
                    var yValues1 = [ndd[0], ndd1[0], ndd2[0], ndd3[0], ndd4[0], ndd5[0], ndd6[0], '9', '7', '5', '11', '13'];

                }

                //var yValues = [55, 49, 44, 24, 15];
                var barColors = ["green", "green", "green", "green", "green", "green", "green", "green", "green", "green", "green", "green"];

                new Chart("myChart", {
                    type: "bar",
                    responsive: true,
                    data: {
                        labels: xValues,
                        datasets: [{
                            label: 'Qualified',
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: {
                            display: true,
                            title: {
                                text: 'Qualified'
                            },


                        },
                        title: {
                            display: true,
                            text: `Last ${show}  Students Who's Got Jobs  `
                        }

                    }

                });

                var barColors1 = ["red", "red", "red", "red", "red", "red", "red", "red", "red", "red", "red", "red"];

                new Chart("myChart1", {
                    type: "bar",
                    data: {
                        labels: xValues1,
                        datasets: [{
                            label: 'Not Qualified',
                            backgroundColor: barColors1,
                            data: yValues1
                        }]
                    },
                    options: {
                        legend: {
                            display: true,
                            title: {
                                text: 'Qualified'
                            },


                        },
                        title: {
                            display: true,
                            text: `Last ${show}  Students Who's Did Not Get Jobs  `
                        }

                    }
                });
            });
        </script>

        <%- include('footer') %>