<%- include('header') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <body>
        <div class="studentDashborad bg-light">
            <div class="container-fluid">
                <div class="row">
                    <%- include('side_bar_dashboard') -%>
                        <div class="col-md-10 table__dashboard p-0 ">
                            <%- include('professor-search') -%>
                                <div class="col-md-12 table__main px-3">

                                    <center>
                                        <h4 class=" col-md-2 btn btn-magenta rounded-0 me-1 d-none d-md-block"><b>View job</b></h4>
                                    </center>

                                    <center style="color:<%- color -%>" id="error_display">
                                        <%- error-%>
                                    </center>
                                    <form action="/replybyprofessor" class="Formcss " method="post" enctype="text/html">
                                        <table class="center table table-striped mt-6 py-9 dataTable no-footer">
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Company Name:</label>
                                                    </td>
                                                    <td>
                                                        <label for="course" class="form-label"><%= records.company_name %></label>
                                                    </td>
                                                </div>
                                            </tr>
                                            <input type="hidden" value="<%= records.id %>" name="job_id" id="job_id">
                                            <input type="hidden" value="<%= records.user_id %>" name="professor_id" id="professor_id">
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Job Title:</label>
                                                    </td>
                                                    <td>
                                                        <label for="course" class="form-label"><%= records.job_tittle %></label>
                                                    </td>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Qualified :</label>
                                                    </td>
                                                    <td>
                                                        <label for="course" class="form-label"><%= records.qualified %></label>
                                                    </td>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Failed in :</label>
                                                    </td>
                                                    <td>
                                                        <label for="course" class="form-label"><%= records.failed_in %></label>
                                                    </td>

                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Resume Name:</label>
                                                    </td>
                                                    <td>
                                                        <a href="/popup/<%= records.resume_name %>" class="underline">
                                                            <label for="course" class="form-label"><i class="bi bi-file-earmark-arrow-down-fill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
                                                  </svg>
                                            <%= records.resume_name %>

                                        </i></label></a>
                                                    </td>

                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Help From Professor:</label>
                                                    </td>
                                                    <td>
                                                        <label for="course" class="form-label"><%= records.feedback %></label>
                                                    </td>
                                                </div>
                                            </tr>

                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Feedback:</label>
                                                    </td>
                                                    <td> <label for="course" class="form-label"></label>
                                                        <div class="page-content page-container" id="page-content">
                                                            <div class="padding">
                                                                <div class="row container d-flex justify-content-center">
                                                                    <div class="col-md-6" style="width: 100%;">
                                                                        <div class="card card-bordered">
                                                                            <div class="card-header">
                                                                                <h4 class="card-title"><strong><%= records.response_feedback %></strong></h4>
                                                                                <a class="btn btn-xs btn-secondary" data-abc="true">Let's Chat App</a>
                                                                            </div>
                                                                            <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important; width: 600px">
                                                                                <div class="media media-chat">

                                                                                    <div class="media-body">

                                                                                        <% responses.forEach(response=> { %>
                                                                                            <p>

                                                                                                <%= response.reply_by_student %>
                                                                                            </p>
                                                                                            <p class="media-chat-reverse">


                                                                                                <%= response.reply_by_professor %>
                                                                                            </p>


                                                                                            <div class="media media-meta-day" style="font-size: 10px;">
                                                                                                <%= response.date %>
                                                                                            </div>
                                                                                            <% }); %>
                                                                                    </div>
                                                                                </div>




                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>







                                                                </label>
                                                    </td>
                                                    </div>
                                            </tr>
                                            <tr>
                                                <div class="col-md-12 form-group">
                                                    <td>
                                                        <label for="course" class="form-label">Professor Reply :</label>
                                                    </td>
                                                    <td>
                                                        <label for="course" class="form-label"><textarea rows="5" cols="40" id="reply_by_professor" name="reply_by_professor"></textarea></label>
                                                    </td>

                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="col-md-12 form-group"></div>
                                                <td></td>
                                                <td>

                                                    <i class="fa  input-group-text rounded-0 " aria-hidden="true"><input type="submit" class="btn btn-magenta px-5 " id="student_reply" value="Send"></i>
                                                </td>
                                                </div>

                                            </tr>
                                            <tr>

                                                <div class="btn-group-login mt-3">

                                                </div>
                                            </tr>
                                            <tr>
                                                <div class="btn-group-login mt-5"></div>
                                            </tr>
                                    </form>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>

    </body>

    </html>